<section class="passion-grid">
  <div class="passion-item dark">
    <div class="bg-image" style="background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuBTIE1kiJqaEx55s1VVeX5yuRE4-j-mVuMbUgXkeRF8V6gmr0CBn-33OffECqYXhR7Rtj9Li9ddUpgybbWbRAMTjTAVXwLRGOJWdkZktXXndPBpOLeeQvENTbmGWIG96tNRaQvdFGSKfygUt05uK-ML3PBTJcjL-jhH50vCAz1CwWPiPdPf7JPMOcPhPn2G_BPVq0RUda2vCvrKpKZH957Ewto1TctF_5GwzB5FuzadEDLvyi6SZDbi')">
    </div>
    <div class="content">
      <h3>A Look at the World</h3>
      <p>Shots that tell the story of my inner journey.</p>
    </div>
  </div>

  <div class="passion-item white">
    <div class="bg-image" style="background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuCvMokuOg937QGcC1WZlgmoXAa8CPqL4vSdQnMjaGoqK-EuGPRpALiZbqtfxqogm7ilfImUQH0ihQw8HkLggGPwmjNshkxGW-ot3NjNCURUpPviJuFZSRM0nGcW_9Vlf7waC_tckHnomOK6X1rc6RlmkQIw2rSaqtVsIselLZnxRFCbTI0ZUZWphYlrm9TBJnVoUXUK72KxPc5TjU_NzwBHPqvdINQF7MEzm22k6bNd0BdknGsum9tH')">
    </div>
    <div class="content">
      <h3>Passion</h3>
      <p>
        My passion for photography goes far beyond any material considerations. Every moment I capture
        is a testament to my commitment to conveying emotions, telling stories and immortalizing the
        ephemeral beauty that surrounds us.
      </p>
    </div>
  </div>
</section>
