<div class="loader-wrapper" #loaderWrapper>
  <div class="loader-background" #loaderBackground></div>
  <div class="loader-overlay" #loaderOverlay></div>

  <div class="curtain-container" #curtainContainer>
    <div class="curtain-panel"><div class="curtain-panel-inner"></div></div>
    <div class="curtain-panel"><div class="curtain-panel-inner"></div></div>
    <div class="curtain-panel"><div class="curtain-panel-inner"></div></div>
    <div class="curtain-panel"><div class="curtain-panel-inner"></div></div>
    <div class="curtain-panel"><div class="curtain-panel-inner"></div></div>
    <div class="curtain-panel u-hide-ml"><div class="curtain-panel-inner"></div></div>
    <div class="curtain-panel u-hide-ml"><div class="curtain-panel-inner"></div></div>
    <div class="curtain-panel u-hide-ml"><div class="curtain-panel-inner"></div></div>
    <div class="curtain-panel u-hide-ml"><div class="curtain-panel-inner"></div></div>
    <div class="curtain-panel u-hide-ml"><div class="curtain-panel-inner"></div></div>
    <div class="curtain-panel u-hide-ml"><div class="curtain-panel-inner"></div></div>
    <div class="curtain-panel u-hide-t"><div class="curtain-panel-inner"></div></div>
    <div class="curtain-panel u-hide-t"><div class="curtain-panel-inner"></div></div>
    <div class="curtain-panel u-hide-t"><div class="curtain-panel-inner"></div></div>
    <div class="curtain-panel u-hide-t"><div class="curtain-panel-inner"></div></div>
  </div>

  <div class="loader-brand" #loaderBrand>
    @if (siteLogo) {
      <img [src]="siteLogo" [alt]="siteLogoAlt" class="loader-logo">
    }
  </div>

  <div class="loader-progress" #loaderProgress>
    <div class="loader-progress-fill" #loaderProgressFill></div>
  </div>
</div>
