<div class="mobile-menu" [class.open]="menuService.isOpen">
  <nav class="mobile-nav">
    <a routerLink="/" (click)="close()">Home</a>
    <a routerLink="/gallery" (click)="close()">Galerie</a>
    <a href="#portfolio" (click)="close()">Portfolio</a>
    <a href="#about" (click)="close()">About</a>
    <div class="mobile-icons">
      <app-icon name="photo_camera" size="28"></app-icon>
      <app-icon name="photo_library" size="28"></app-icon>
      <app-icon name="mail" size="28"></app-icon>
    </div>
    <button class="btn-mobile">Contact</button>
  </nav>
</div>
